
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @ViewBag.Greetings, Guest
        <br />
        <p>We' re going to have an exciting party.</p>
        @Html.ActionLink("Reserve Party Now","RVSPForm")
</div>
</body>
</html>
